# JavaScript

# Dependencies
/node_modules

# Environment variables
.env

# Compiled output
/build
/dist

# Logs and debugging output
/logs
/debug.log
/coverage

# IDE-specific files
.vscode
.idea

# Miscellaneous
.DS_Store
Thumbs.db


# Rust

# Compiled output
/target
Cargo.lock

# Logs and debugging output
/*.log
/!Cargo.toml

# Crate metadata
/.cargo

# IDE-specific files
/.vscode
.idea

# Miscellaneous
.DS_Store
Thumbs.db
